@using FormSubmission.Models
@model User
@{
    ViewData["Title"] = "Dojo Survey Index";
}

<form asp-action="Success" asp-controller="FormSubmission" method="post">
    <h1>Enter your information</h1>
    <div class="blocks">
        <label asp-for="First_name">First name</label>
        <input asp-for="First_name" />
    </div>
    <div class="blocks">
        <span asp-validation-for="First_name"></span>
    </div>
    <div class="blocks">
        <label asp-for="Last_name">Last name</label>
        <input asp-for="Last_name" />
    </div>
    <div class="blocks">
        <span asp-validation-for="Last_name"></span>
    </div>
    <div class="blocks">
        <label asp-for="Age">Age</label>
        <input asp-for="Age" />
    </div>
    <div class="blocks">
        <span asp-validation-for="Age"></span>
    </div>
    <div class="blocks">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
    </div>
    <div class="blocks">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="blocks">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password"/>
    </div>
    <div class="blocks">
        <span asp-validation-for="Password" ></span>
    </div>
    <div class="blocks submitbutton">
        <button type="submit" class="btn1">Submit</button>
    </div>
</form>
