@{
    ViewData["Title"] = "Dojo Survey Index";
}

<div class="data">
    <h1>Successfully registered!</h1>
    <div class="blocks submitbutton">
        <button type="button" class="btn1">Go Back</button>
    </div>
</div>
